<a href="https://colab.research.google.com/github/oRocumback/Aula25-02/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
import numpy as np
import matplotlib.pyplot as plt


A = np.array ([
    [10, 20, 30],
    [40, 50, 60],
    [70, 80, 90]
    ])

print(A)

B = np.array ([
    [1, 2, 5],
    [7, 10, 50],
    [8, 4, 9]
])

print("\n")
print(B)

C = A+B

print("\n")
print(C)

[[10 20 30]
 [40 50 60]
 [70 80 90]]


[[ 1  2  5]
 [ 7 10 50]
 [ 8  4  9]]


[[ 11  22  35]
 [ 47  60 110]
 [ 78  84  99]]

Matriz Linha

In [32]:
# Matriz Linha

A = np.array([
    [1, 2, 3]
    ])

print(A)

[[1 2 3]]

Matriz Coluna

In [33]:
B = np.array([
    [1],
    [2],
    [3]
    ])

print(B)

[[1]
 [2]
 [3]]

Matriz quadrada

matriz 3x3, 4x4, 5x5 etc

In [34]:
A = np.array([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
])

print(A)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [35]:
z = np.zeros((3,3))
print(z)

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

In [36]:
U = np.ones((4,4))
print(U)

[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]

In [37]:
I = np.eye(3)
print(I)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

Dimensão de uma matriz
podemos verificar o tamanho de uma matriz

In [38]:
I.shiper

AttributeError: 'numpy.ndarray' object has no attribute 'shiper'

In [41]:
A = np.array([
    [2, 3],
    [1, 4]
    ])

B = np.array([
    [0, -1],
    [3, -7]
])

C = A*B

print(C)
print("\n")

D = A@B
print(D)

[[  0  -3]
 [  3 -28]]


[[  9 -23]
 [ 12 -29]]

In [47]:
A = np.array([
    [1, 2, 3],
    [2, 2, 4],
    [1, 5, -1]
    ])

B = np.array([
    [3, 4, 5],
    [1, 7, 6],
    [0, 2, 1]
])

C = A@B

print(C)

D = A@A

print("\n")
print(D)

E = A**2

print("\n")
print(E)

F = B@A

print("\n")
print(F)

[[ 5 24 20]
 [ 8 30 26]
 [ 8 37 34]]


[[ 8 21  8]
 [10 28 10]
 [10  7 24]]


[[ 1  4  9]
 [ 4  4 16]
 [ 1 25  1]]


[[16 39 20]
 [21 46 25]
 [ 5  9  7]]

AttributeError: module 'numpy.linalg' has no attribute 'matriz_power'

In [49]:
np.linalg.matrix_power(A, 2)

array([[ 8, 21,  8],
       [10, 28, 10],
       [10,  7, 24]])

Matriz Transposta

A matriz transposta é obtida invertendo as linhas e colunas de uma matriz original. A primeira linha vira a primeira coluna, a segunda linha vira a segunda coluna, e assim por diante

A.T

In [50]:
A = np.array([
    [1, 2, 3],
    [4, 5, 6]

])

A.T